/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES DE COLOR */
:root {
    --primary-color: #3b82f6; /*zul profundo - headers, títulos*/
    --primary-light-color: #60a5fa; /*Azul claro - hover, acentos*/
    --primary-dark-color: #1e3a8a; /*Azul profundo - headers, títulos*/
    --secondary-color: #8b5cf6; /*Morado - elementos destacados*/
    --accent-color: #fbbf24; /*Amarillo dorado - CTAs importantes*/
    --backgroud-color: #ffffff; /*Blanco puro - fondo general*/
    --background-color-secondary: #f3f4f6; /*Gris muy claro - secciones alternas*/
    --text-color: #1f2937; /*Gris oscuro - texto principal*/
    /* Regla 60-30-10
    60% - Color principal (fondo, secciones grandes)
    30% - Color secundario (tarjetas, elementos medianos)
    10% - Color acento (botones, CTAs, highlights)*/
}

/* ESTILOS GENERALES */
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: var(--backgroud-color);
}

/* ESTILOS DE NAVEGACIÓN */
ul {
    list-style: none;
}

/* Enlaces sin subrayado y con color personalizado */
a {
    text-decoration: none;
    color: var(---text-color);
}

/* HEADER */
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.header__brand {
    margin: 1rem;
    text-align: left;
    color: var(---text-color);
}

.nav {
    margin: 1rem;
    text-align: center;
}


.nav__item {
    display: inline-block;
    margin: 0 1.5rem;
    background-color: var(--tertiary-color);
    border-radius: 0.8rem;
    padding: 0.5rem 0.5rem;
}

/* Icono de Hamburguesa */
.hamburger {
  width: 30px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: black;
  margin: 6px 0;
  border-radius: 2px;
}

/*Secciones Sobre Mi*/
.sobre-mi{
    border-radius: 2rem;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 0.5rem;
}

.sobre-mi__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.sobre-mi__title h2{
    font-size: 2rem;
    color: var(--backgroud-color);
    margin-bottom: 0.2rem;
}

.sobre-mi__title p{
    font-size: 1.2rem;
    color: var(--backgroud-color);
    font-weight: 500;
    padding: 0 1rem;
}

.sobre-mi__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin: 0rem 1rem;
    color: var(--backgroud-color);
    text-align: justify;
    font-size: 1rem;
}

.sobre-mi__citation{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 2rem;
    color: var(--backgroud-color);
    text-align: right;
}


/*Estilos para los detalles de los pasatiempos*/








/* Responsive Design*/
@media (max-width: 768px) {
    .nav{
        display: none;
    }
}