/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.header__container{
    background-color: #6B6ED4;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
}

.header__brand {
    /* border: 2px solid #FF0000; */
    margin: 1rem;
    text-align: center;
    color: #ffffff;
}

.nav {
    margin: 1rem;
    text-align: center;
}

/* .nav__list{
    display: inline-block;
    border: 2px solid #00FF00;
}  */

.nav__item {
    display: inline-block;
    margin: 0 1.5rem;
    background-color: #84c2e642;
    border-radius: 25px;
    padding: 0.5rem 1rem;
}


