/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3b82f6; /*zul profundo - headers, títulos*/
    --primary-light-color: #60a5fa; /*Azul claro - hover, acentos*/
    --primary-dark-color: #1e3a8a; /*Azul profundo - headers, títulos*/
    --secondary-color: #8b5cf6; /*Morado - elementos destacados*/
    --accent-color: #fbbf24; /*Amarillo dorado - CTAs importantes*/
    --backgroud-color: #ffffff; /*Blanco puro - fondo general*/
    --background-color-secondary: #f3f4f6; /*Gris muy claro - secciones alternas*/
    --text-color: #1f2937; /*Gris oscuro - texto principal*/
    /* Regla 60-30-10
    60% - Color principal (fondo, secciones grandes)
    30% - Color secundario (tarjetas, elementos medianos)
    10% - Color acento (botones, CTAs, highlights)*/
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: var(--backgroud-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(---text-color);
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(to right, #677BE6, #7450A9);     */
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
}

.header__brand {
    /* border: 2px solid #FF0000; */
    margin: 1rem;
    text-align: left;
    color: var(---text-color);
}

.nav {
    margin: 1rem;
    text-align: center;
}

/* .nav__list{
    display: inline-block;
    border: 2px solid #00FF00;
}  */

.nav__item {
    display: inline-block;
    margin: 0 1.5rem;
    background-color: var(--tertiary-color);
    border-radius: 0.8rem;
    padding: 0.5rem 0.5rem;
}

.sobre-mi{
    border-radius: 2rem;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.sobre-mi__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.sobre-mi__title h2{
    font-size: 2.5rem;
    color: var(--backgroud-color);
    margin-bottom: 0.5rem;
}

.sobre-mi__title p{
    font-size: 1.5rem;
    color: var(--backgroud-color);
    font-weight: 500;
}

.sobre-mi__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin: 0rem 4rem;
    color: var(--backgroud-color);
    text-align: justify;
    font-size: 1rem;
}

.sobre-mi__citation{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 2rem;
    color: var(--backgroud-color);
    text-align: right;
}


/* Se pretende usar z-indez, para aplicar capas */
.pasatiempos{
    border-radius: 1rem;
    background: var(--backgroud-color);
    box-shadow: inset 5px 0  var(--primary-color);
    padding: 2rem;
    margin: 3rem 0;
}

.pasatiempos__tittle{
    color: var(--primary-light-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.pasatiempos__details{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border: #1e3a8a 2px solid;
}